%h1 Issue Temporary Benefits to all #{@card_level.name} Cards
= simple_form_for [:venue, @card_level, @benefit], url: '' do |f|
  .row
    .form-block.span6.offset3
      %h3 Permanent benefits
      %ul
        - unless @card_level.allowed_redeemable_benefits_count.zero?
          %li= pluralize @card_level.allowed_redeemable_benefits_count, @card_level.redeemable_benefit_title
        - @card_level.benefits.select { |b| b.start_date.blank? && b.end_date.blank? }.each do |permanent_benefit|
          %li= permanent_benefit.description

      %h3 Temporary benefits
      %ul
        - @card_level.benefits.select { |b| b.start_date.present? || b.end_date.present? }.each do |temporary_benefit|
          %li
            = temporary_benefit.description
            = surround '(', ')' do
              - Time.use_zone @venue.time_zone do
                - if temporary_benefit.start_date.present?
                  From
                  = l temporary_benefit.start_date.in_time_zone, format: :friendly
                - if temporary_benefit.end_date.present?
                  Until
                  = l temporary_benefit.end_date.in_time_zone, format: :friendly
      %h2 New Temporary Benefit
      %fieldset
        = render 'temporary_benefit_fields', f: f

      %fieldset
        %legend Promote Benefits
        %p Optionally, include a text message to go out to all #{@card_level.name} Cardholders to inform them of their new benefits.
        = f.simple_fields_for @promo_message do |bf|
          = bf.label :message, required: false do
            Message
            %span.character-count
          = bf.input :message, required: false, label: false, as: :text, input_html: { maxlength: 140, class: 'span6' }

  .form-actions.clearfix
    = f.button :submit, class: 'btn btn-large btn-primary'
    = link_to 'Cancel', venue_card_levels_path, class: 'btn btn-large, pull-right'

= content_for :javascripts do
  = javascript_include_tag :card_level_temp_benefits
