= simple_form_for [:venue, @card_theme] do |f|
  .row
    .form-block.span6.offset3
      = f.input :name, autofocus: true, input_html: { class: 'span6' }
      .row
        .span6
          .well
            %h3 Portrait background
            = f.input :portrait_background, as: :file, label: false
            = f.hidden_field :portrait_background_cache
            .upload-preview.portrait{ style: "background-image: url(#{@card_theme.portrait_background_path})" }
            %p.muted Preview based on iPhone 5 screen dimenions
      .row
        .span6
          .well
            %h3 Landscape background
            = f.input :landscape_background, as: :file, label: false
            = f.hidden_field :landscape_background_cache
            .upload-preview.landscape{ style: "background-image: url(#{@card_theme.landscape_background_path})" }
            %p.muted Preview based on iPhone 5 screen dimenions

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-large'
    = link_to 'Cancel', venue_card_themes_path, class: 'btn btn-large pull-right'

= content_for :javascripts do
  = javascript_include_tag :upload_preview
  = javascript_include_tag :card_themes_form
