= simple_form_for :session, url: sessions_path do |f|
  = f.input :email, autofocus: true
  = f.input :password, required: true
  = f.input :remember_me, as: :boolean, label: false, inline_label: 'Remember me'

  = f.button :submit, 'Log In', class: 'btn btn-primary'
