.row-fluid
  .span3
    .card-preview{ class: "theme-#{card.card_level.theme}" }
      .cardholder-photo
        = image_tag card.cardholder.photo.mobile_small, class: 'cardholder-img'
    .card-level-name.visible-phone= card.card_level.name
    .card-number
      EIP#
      = card.cardholder.phone_number
  .span4
    .card-name= "#{card.cardholder.first_name} #{card.cardholder.last_name}"
    %strong Individual Benefits
    %ul
      - card.benefits.each do |benefit|
        %li= benefit.description
  .actions.span5
    .row-fluid
      = link_to venue_card_edit_benefits_path(card), class: 'btn btn-large clearfix span9' do
        %i.icon-plus.pull-left
        .pull-left Issue Benefits
        %i.icon-caret-right.pull-right
    %hr
    .row-fluid
      = simple_form_for card, url: venue_card_change_level_path(card), remote: true, html: { class: 'change-card-level', id: "edit_card_#{card.id}_card_level" } do |f|
        = f.collection_select :card_level_id, @card_levels, :id, :name, {}, class: 'span8', id: "card_#{card.id}_card_level_id"
        = f.button :submit, value: 'Change', class: 'btn btn-large btn-primary span4'
%hr
.row-fluid
  .card-status-block.pull-left
    Issued on
    %strong= l card.issued_at.in_time_zone(@venue.time_zone), format: :friendly
    by #{ card.issuer.name }
    %br
    Cardholder Account
    - if card.cardholder.pending?
      %strong Pending
    -else
      Activated
      %strong= l card.activated_at.in_time_zone(@venue.time_zone), format: :friendly
      %br
      Card Status:
      %strong.card-status= card.status.titleize
  = card_status_toggle_button card, classes: 'btn-small pull-right', form_class: 'change-card-status'
