= simple_form_for [:venue, @cardholder] do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :phone_number
  = f.simple_fields_for :cards, @cardholder.cards.build do |cf|
    = cf.hidden_field :issuer_id, value: current_user.id
    = cf.input :card_level_id, collection: @venue.card_levels, label: 'Member Tier'

  .form-actions
    = f.button :submit, value: 'Create Card', class: 'btn btn-primary btn-large'
    = f.button :submit, value: 'Create and Continue', class: 'btn btn-large'
    = link_to 'Cancel', venue_path, class: 'btn btn-large'
