= simple_form_for @cardholder, url: onboard_path do |f|
  .form-block
    = f.input :phone_number, autofocus: true
    = f.input :first_name, required: true
    = f.input :last_name, required: true
    .well
      %h3 Upload your photo
      = f.input :photo, as: :file, label: false, required: true, hint: 'Once set, this cannot be changed. Make sure you are clearly visible and identifiable from this photograph.'
      = f.hidden_field :photo_cache
      = image_tag @cardholder.photo_path, id: 'photo-img', class: "image-preview #{@cardholder.photo_path ? '' : 'hidden'}"
    = f.input :password, required: true
    = f.input :password_confirmation, required: true

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-large', value: 'Activate Card'

= content_for :javascripts do
  = javascript_include_tag :cardholder_onboarding
