= simple_form_for @cardholder, url: onboard_path do |f|
  .row
    .form-block.span6.offset3
      = f.input :phone_number, autofocus: true, input_html: { class: 'span6' }
      = f.input :first_name, required: true, input_html: { class: 'span6' }
      = f.input :last_name, required: true, input_html: { class: 'span6' }
      .row
        .span6
          .well
            %h3 Upload your photo
            = f.input :photo, as: :file, label: false, required: !(@cardholder.photo? || @cardholder.photo.cached?), input_html: { required: !(@cardholder.photo? || @cardholder.photo.cached?) }, hint: 'Please make sure that you are clearly identifiable in your photo. If you are choosing an Existing Photo, your image will appear as it does in your Camera Roll preview'
            = f.hidden_field :photo_cache
            .proportional-wrapper
              .photo-preview{ style: "background-image: url(#{@cardholder.photo_path})" }
          - if pin_required?
            = f.input :password, required: true, input_html: { class: 'span6' }, as: :tel, label: '4-digit PIN', pattern: '\d{4}'
            = f.input :password_confirmation, required: true, input_html: { class: 'span6' }, as: :tel, label: 'Reenter PIN', pattern: '\d{4}'

  .form-actions
    .spinner{ style: "float: left; width: 30px; height: 42px; display: none; background: url(#{asset_path 'ajax-loader.gif'}) center no-repeat" }
    = f.button :submit, class: 'btn btn-primary btn-large', value: 'Activate Card'

= content_for :javascripts do
  = javascript_include_tag :cardholder_onboarding
