%table.table.table-striped.pending-cards
  %thead
    %th Phone Number
    %th Name
    %th Actions
  %tbody
    - @pending_cards.each do |card|
      %tr.pending-card
        %th= card.cardholder.phone_number
        %td
          %span.first_name= card.cardholder.first_name
          %span.last_name= card.cardholder.last_name
        %td.actions
          = simple_form_for [:venue, card], html: { class: 'row-fluid inline-form approve-card', id: "approve_card_#{card.id}" }, remote: true do |f|
            = f.association :card_level, collection: @venue.card_levels, label: false, wrapper_html: { class: 'span8' }, input_html: { class: 'span11', id: "card_#{card.id}_card_level_id" }
            = f.button :submit, value: 'Approve', class: 'span2 btn-success'
            = f.button :submit, value: 'Reject', class: 'span2 btn-danger'
