%h1.page-header Issue #{@card_level.name} cards

= simple_form_for :batch do |f|
  .batch_cardholders
    .batch_rows
    %button.btn.btn-large.btn-success.button-add#issue_another
      %i.icon-plus
  .form-actions
    = f.button :submit, value: 'Issue Cards', class: 'btn btn-primary btn-large'
    = link_to 'Cancel', venue_cardholders_path, class: 'btn btn-large pull-right'

= content_for :javascripts do
  = javascript_include_tag 'cardholders_batch_new'
