
- @cards_by_level.each do |card_level, cards|
  %table.table.table-striped
    %thead
      %tr
        %th #{card_level.name} Cardholders
        %th Issued by
        %th
          %form.form-search.form-inline
            %input.search-query{ type: :text }
        %th= link_to 'Issue Card', new_venue_cardholder_path, class: 'btn'
    %tbody
      - cards.each do |card|
        %tr
          %td
            %span.first_name= card.cardholder.first_name
            %span.last_name= card.cardholder.last_name
          %td= card.issuer.name
          %td{ colspan: 2 }

