= simple_form_for [:venue, @partner] do |f|
  .row
    .form-block.offset3.span6
      = f.input :name, input_html: { class: 'span6' }
      = f.input :phone_number, input_html: { class: 'span6' }
      = f.input :card_theme_id, collection: @venue.card_themes, input_html: { class: 'span6' }

      %fieldset
        %legend Benefits
        = f.input :redeemable_benefit_name, placeholder: 'E.g. guest pass, free drink', hint: 'Singular form - will automatically pluralize where appropriate', input_html: { class: 'span6' }
        = f.input :default_redeemable_benefit_allotment, label: 'Redeemable Benefits', input_html: { class: 'span6', value: (@partner.default_redeemable_benefit_allotment || 0), min: 0 }

        .batch-benefits
          .batch-rows

          %button.btn-large.btn-success.button-add
            %i.icon-plus

  .form-actions
    = f.button :submit, class: 'btn btn-large btn-primary'
    = link_to 'Cancel', venue_partners_path, class: 'btn btn-large'

- if @partner.default_benefits.present?
  - records = @partner.default_benefits.map { |benefit| { description: benefit } }.to_json
  %div.hidden.records{ data: { records: records } }

= content_for :javascripts do
  = javascript_include_tag 'partners_new'

