%h1.page-header Partners

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Phone Number
      %th Active Cards
      %th Lifetime Cards
      %th Actions
  %tbody
    - @partners.each do |partner|
      %tr
        %th= partner.name
        %td= partner.phone_number
        %td= partner.temporary_cards.count &:active?
        %td= partner.temporary_cards.length
        %td
          = link_to '#', class: 'btn btn-primary' do
            %i.icon-credit-card
            Issue Cards
          - if can? :update, partner
            = link_to edit_venue_partner_path(partner), class: 'btn' do
              %i.icon-edit
              Edit
          - if can? :delete, partner
            = link_to venue_partner_path(partner), method: :delete, confirm: "Are you sure? This will also delete all Temporary Cards associated to this Partner.", class: 'btn btn-danger' do
              %i.icon-remove
              Delete

- if can? :create, Partner
  = link_to new_venue_partner_path, class: 'btn btn-large btn-success' do
    %i.icon-plus
    Add Partner
