= simple_form_for [:venue, card_level] do |f|
  .form-block
    = f.input :name
    = f.input :theme, collection: CardLevel::THEMES, prompt: 'Select one', required: true, input_html: {required: true}

    %fieldset
      %legend Benefits
      = f.simple_fields_for :benefits do |bf|
        = render 'benefit_fields', f: bf

      .links
        = link_to_add_association 'Add Benefit', f, :benefits, :render_options => {:wrapper => 'bootstrap' }

  .form-actions.clearfix
    = f.button :submit, class: 'btn btn-large btn-primary'
    = link_to 'Cancel', venue_card_levels_path, class: 'btn btn-large pull-right'
