= simple_form_for [:venue, card_level] do |f|
  .row
    .form-block.span6.offset3
      = f.input :name, input_html: { class: 'span6' }
      = f.input :card_theme_id, collection: @venue.card_themes, prompt: 'Select one', required: true, input_html: {required: true}, input_html: { class: 'span6' }
      = f.input :daily_redeemable_benefit_allotment, input_html: { class: 'span6', min: 0 }

      %fieldset
        %legend Permanent Benefits
        = f.simple_fields_for :permanent_benefits do |bf|
          = render 'permanent_benefit_fields', f: bf

        .links
          = link_to_add_association 'Add Permanent Benefit', f, :permanent_benefits, render_options: { wrapper: 'bootstrap' }
      %fieldset
        %legend Temporary Benefits
        = f.simple_fields_for :temporary_benefits do |bf|
          = render 'temporary_benefit_fields', f: bf

        .links
          = link_to_add_association 'Add Temporary Benefit', f, :temporary_benefits, render_options: { wrapper: 'bootstrap' }

  .form-actions.clearfix
    = f.button :submit, class: 'btn btn-large btn-primary'
    = link_to 'Cancel', venue_card_levels_path, class: 'btn btn-large pull-right'
