= simple_form_for [:venue, card_level] do |f|
  = f.input :name
  = f.input :theme, collection: CardLevel::THEMES

  %fieldset
    %legend Benefits
    = f.simple_fields_for :benefits do |bf|
      = render 'benefit_fields', f: bf

    .links
      = link_to_add_association 'Add Benefit', f, :benefits, :render_options => {:wrapper => 'bootstrap' }

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', venue_card_levels_path, class: 'btn'
