%h1.page-header Card Levels

%ul.unstyled.card-levels-list
  - @card_levels.each do |card_level|
    %li.card-level-listing.clearfix
      .row
        .span3
          .info
            %h2= card_level.name
            .card-preview-row
              .card-preview{ style: "background-image: url(#{card_level.card_theme.try(:landscape_background_path)})" }
              .actions.center-text
                =link_to edit_venue_card_level_path(card_level), class: 'btn btn-large' do
                  %i.icon-edit
                  Edit
        .span3.benefits
          %h4 Permanent Benefits
          %ul.unstyled
            - unless card_level.daily_redeemable_benefit_allotment.zero?
              %li #{pluralize card_level.daily_redeemable_benefit_allotment, (card_level.redeemable_benefit_name || "redeemable benefits").titleize}
            - card_level.permanent_benefits.each do |benefit|
              %li= benefit.description
        .span3.benefits
          - if card_level.temporary_benefits.reject(&:past?).any?
            %h4 Temporary Benefits
            %ul.unstyled
              - card_level.temporary_benefits.reject(&:past?).each do |benefit|
                %li.clearfix
                  .pull-left
                    = benefit.description
                  - if benefit.start_date.present? || benefit.end_date.present?
                    .dates.pull-right.muted
                      - if benefit.start_date.present?
                        From #{ l benefit.start_date.in_time_zone, format: :very_short }
                      - if benefit.end_date.present?
                        Until #{ l benefit.end_date.in_time_zone, format: :very_short }

        .actions.span3
          = form_tag venue_card_level_reorder_path(card_level), class: 'form-inline' do
            = number_field_tag :sort_position, card_level.sort_position, in: (1..@venue.card_levels.length), step: 1
            = button_tag type: :submit, class: 'btn btn-large' do
              %i.icon-sort
              Reorder

.actions.clearfix
  =link_to new_venue_card_level_path(), class: 'btn btn-large btn-success pull-right' do
    %i.icon-plus
    New Card Level
