= simple_form_for [:venue, @user] do |f|
  .row
    .form-block.span6.offset3
      = f.input :name, autofocus: true, input_html: { class: 'span6' }
      = f.input :email, input_html: { class: 'span6' }
      = f.input :roles, collection: User.valid_roles, as: :select, label_method: ->(role_sym) { role_sym.to_s.humanize }, label: 'Role', prompt: 'Select one', required: true, input_html: { required: true, class: 'span6' }
      = f.input :partner_id, required: :true, collection: @user.venue.partners, as: :select, prompt: 'Partner Users must be assigned a partner', wrapper_html: { class: "hidden" }, input_html: { required: false }

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-large', value: 'Grant Access'
    = link_to 'Cancel', venue_users_path, class: 'btn btn-large pull-right'

= content_for :javascripts do
  = javascript_include_tag :user