= simple_form_for [@venue, @user] do |f|
  = f.input :name, autofocus: true
  = f.input :email
  = f.input :roles, collection: User.valid_roles, as: :select, label_method: ->(role_sym) { role_sym.to_s.humanize }, label: 'Role'

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-large', value: 'Create Staff Member'
