= simple_form_for [:venue, @user] do |f|
  .form-block
    = f.input :name, autofocus: true
    = f.input :email
    = f.input :roles, collection: User.valid_venue_roles, as: :select, label_method: ->(role_sym) { role_sym.to_s.humanize }, label: 'Role', prompt: 'Select one', required: true, input_html: {required: true}

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-large', value: 'Create Staff Member'
    = link_to 'Cancel', venue_users_path, class: 'btn btn-large pull-right'
