= simple_form_for @user, url: signup_user_path do |f|
  = f.input :email, autofocus: true
  = f.input :password
  = f.input :password_confirmation, label: 'Confirm Password', as: :password

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-large'
