%h1.page-header Access
  
.tab-content
  %table.table.table-striped
    %thead
      %th Name
      %th Email
      %th Role
      %th
        - if can? :create, User.new(venue: @venue)
          = link_to new_venue_user_path, class: 'btn btn-large btn-success pull-right', title: 'Grant Access' do
            %i.icon-plus
    %tbody
      - @users.each do |user|
        %tr.user
          %td.name= user.name
          %td.email= user.email
          %td.roles= user.roles.to_a.map{|role| role.to_s.titleize}.join ', '
          %td
            - if !user.venue_owner?
              = link_to venue_user_path(user), method: :delete, confirm: 'Are you sure?', class: 'btn btn-large btn-danger pull-right', title: 'Revoke Access' do
                %i.icon-minus
              = link_to edit_venue_user_path(user), class: 'btn btn-large pull-right', title: 'Edit User' do
                %i.icon-pencil
