%h1 Reset password for #{@user.name}

= simple_form_for @user, url: reset_password_user_path(@user.reset_token) do |f|
  = f.input :password, required: true
  = f.input :password_confirmation, as: :password, label: 'Confirm Password', required: true

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-large'
