= simple_form_for @venue, url: venue_path do |f|
  .row
    .form-block.span6.offset3
      = f.input :name, label: 'Business Name', autofocus: true, input_html: { class: 'span6' }
      = f.input :phone, input_html: { pattern: '\d{10}' }, hint: '10-digit number, digits only', input_html: { class: 'span6' }
      = f.input :location, hint: 'i.e. The Bronx, Queens, Lodo, South Beach', input_html: { class: 'span6' }
      = f.input :address1, label: 'Address', input_html: { class: 'span6' }
      = f.input :address2, label: false, input_html: { class: 'span6' }
      = f.input :website, placeholder: 'http://example.com', input_html: { class: 'span6' }
      = f.input :time_zone, collection: ActiveSupport::TimeZone.us_zones, label_method: :to_s, value_method: :name, prompt: "Select your time zone", input_html: { class: 'span6' }
      = f.input :vanity_slug, label: 'Vanity URL', hint: 'Once chosen, this cannot be changed. This is required if you wish to allow users to request a card from your business.', wrapper: :prepend_append do
        .add-on http://
        = f.input_field :vanity_slug, disabled: @venue.vanity_slug.present?, class: 'span3'
        .add-on .eipid.com
      .row
        .span6
          .well
            %h3 Upload Your Logo
            = f.input :logo, as: :file, label: false, input_html: { class: 'span6' }
            = f.hidden_field :logo_cache
            = image_tag @venue.logo_path, id: 'logo-img', class: "image-preview #{@venue.logo_path ? '' : 'hidden'}"

  .form-actions
    = f.button :submit, 'Create Business', class: 'btn btn-primary btn-large'
    = link_to 'Cancel', venue_path, class: 'btn btn-large pull-right'

= content_for :javascripts do
  = javascript_include_tag :venue_signup
