.hero-unit.venue-block.venue-info.clearfix.visible-desktop
  = image_tag @venue.logo, class: 'venue-logo pull-left'
  .venue-name.pull-left= @venue.name
  .venue-location.pull-left.clearfix
    %i.icon-map-marker.icon-4x.pull-left
    %address.pull-left
      = @venue.address1
      - unless @venue.address2.blank?
        %br/
        = @venue.address2
      - unless @venue.location.blank?
        %br/
        = @venue.location
      - unless @venue.website.blank?
        %br/
        = @venue.website
  .venue-phone.pull-left= number_to_phone @venue.phone

  - if can? :edit, @venue
    = link_to edit_venue_path, title: 'Edit Venue information', class: 'btn pull-right' do
      %i.icon-edit
      Edit Info
