%h1.page-header Dashboard
.row.row-section
  .venue-sub-block.span7
    %h2.block-title Activity
    .block-info.card-levels
      - @venue.card_levels.each_slice(4) do |slice|
        .row
          - slice.each do |card_level|
            - card_name = "#{card_level.name} Card".pluralize(card_level.cards.size)
            .span1.card-level{ class: "theme-#{card_level.theme}", title: card_name, data: { toggle: 'tooltip', placement: 'bottom'  } }
              .gloss
              .card-count #{card_level.cards.size}
              = truncate card_name, length: 16
  .venue-sub-block.span5.actions-block.show-overflow
    %h2.block-title Actions
    .block-info
      .row-fluid.row-sub-section
        .btn-group.span12
          %a.btn.btn-large.span12.dropdown-toggle{ 'data-toggle' => 'dropdown', 'href' => '#' }
            %i.icon-star-empty.pull-left
            .pull-left Issue Temporary Card Level Benefits
            %span.caret.pull-right
          %ul.dropdown-menu.pull-right
            - @venue.card_levels.each do |card_level|
              %li= link_to card_level.name, venue_card_level_issue_benefit_path(card_level)
      .row-fluid.row-sub-section
        .btn-group.span12
          %a.btn.btn-large.span12.dropdown-toggle{ 'data-toggle' => 'dropdown', 'href' => '#' }
            %i.icon-credit-card.pull-left
            .pull-left Issue Cards
            %span.caret.pull-right
          %ul.dropdown-menu.pull-right
            - @venue.card_levels.each do |card_level|
              %li= link_to card_level.name, new_batch_venue_cardholders_path(card_level)
.row.row-section
  .venue-sub-block.span12
    %h3.block-title.clearfix
      Promotions
      = link_to new_venue_promotion_path, title: "New Promotion", class: 'btn btn-large btn-success pull-right' do
        %i.icon-plus
    .block-info
      .row-fluid
        .span12= render 'promotions/list', promotions: @promotions

- content_for :javascripts do
  = javascript_include_tag 'dashboard'
