.row-fluid
  .venue-sub-block.span7
    %h2.block-title Activity
    .block-info
      - @venue.card_levels.each_slice(4) do |slice|
        .row-fluid.card-level-row
          - slice.each do |card_level|
            .span3.card-level{ :class => "theme-#{card_level.theme}" }
              .card-count #{card_level.cards.size}
              #{card_level.name} Cards
  .venue-sub-block.span5.actions-block
    %h2.block-title Actions
    .block-info
      = link_to '#', class: 'action clearfix' do
        %i.icon-credit-card
        Issue Cards
        %i.icon-caret-right.pull-right
      = link_to '#', class: 'action clearfix' do
        %i.icon-plus
        Issue Benefits
        %i.icon-caret-right.pull-right
