.row-fluid.row-section
  .venue-sub-block.span7
    %h2.block-title Activity
    .block-info
      - @venue.card_levels.each_slice(4) do |slice|
        .row-fluid
          - slice.each do |card_level|
            .span3.card-level{ :class => "theme-#{card_level.theme}" }
              .card-count #{card_level.cards.size}
              #{card_level.name} Cards
  .venue-sub-block.span5.actions-block
    %h2.block-title Actions
    .block-info
      .row-fluid
        = link_to venue_cardholders_path, class: 'btn btn-large span12 clearfix' do
          %i.icon-credit-card.pull-left
          .pull-left Cards
          %i.icon-caret-right.pull-right
      .row-fluid
        = link_to venue_card_levels_path, class: 'btn btn-large span12 clearfix' do
          %i.icon-plus.pull-left
          .pull-left Card Levels
          %i.icon-caret-right.pull-right
.row-fluid.row-section
  .venue-sub-block.span12
    %h3.block-title.clearfix
      Promotions
      = link_to new_venue_promotion_path, title: "New Promotion", class: 'btn btn-large btn-success pull-right' do
        %i.icon-plus
    .block-info
      .row-fluid
        .span12= render 'promotions/list', promotions: @promotions
