%h1.page-header Temporary Card Errors

%p We're sorry, but the following errors occured when attempting to issue your list of Temporary Cards.

%p Cards not listed below were successfully issued.

%ul
  - @problems.each do |problem_card|
    %li
      %strong= problem_card.phone_number
      %ul.errors
        - problem_card.errors.messages.each do |field, messages_for_field|
          %li.error= problem_card.errors.full_message field, message

= link_to new_batch_venue_partner_temporary_cards(@partner), class: 'btn btn-large btn-primary' do
  %i.icon-money
  Issue more Temporary Cards

= link_to venue_partner_temporary_cards(@partner), class: 'btn btn-large' do
  Return to #{@partner.name} Temporary Card List
