#id-side.card-side
  .card-container.portrait{ style: "background-image: url(#{@temporary_card.partner.card_theme.portrait_background.url})" }
    %header.card-header
      = image_tag @temporary_card.venue.logo.url, class: 'venue-logo'
      .eipid-logo-white
    .card-content
      .info
        .cardholder-info
          .cardholder-name
            .last= @temporary_card.partner.name
        %ul.benefits
          - unless @temporary_card.redeemable_benefit_allotment.zero?
            %li.benefit.block= pluralize @temporary_card.redeemable_benefit_allotment, @temporary_card.partner.redeemable_benefit_name.titleize
          - @temporary_card.benefits.each do |benefit|
            %li.benefit.block= benefit.description
      .expiration
        %p
          Valid Until
          = l @temporary_card.expires_at.to_date, format: :friendly
        .request-box
          = link_to request_card_path, class: 'btn btn-inverse btn-request-card' do
            %i.icon-credit-card
              Request a Permanent Card from #{@venue.name}
    .anti-screenshot-device
      .barber-pole
        .inner-barber-pole
- if @temporary_card.expired?
  .expired-notice EXPIRED
