#id-side.card-side
  .card-container.theme-red
    %header.card-header
      = image_tag @temporary_card.venue.logo.url, class: 'venue-logo'
      .eipid-logo-white
    .card-content
      .info
        .cardholder-info
          .cardholder-name
            .last= @temporary_card.partner.name
        %ul.benefits
          - unless @temporary_card.guest_count.zero?
            %li.benefit.block= pluralize @temporary_card.guest_count, "Guest"
          - @temporary_card.benefits.each do |benefit|
            %li.benefit.block= benefit.description
      .expiration
        %p
          Valid Until
          = l @temporary_card.expires_at.to_date, format: :friendly
        .request-box
          = link_to request_card_path, class: 'btn btn-inverse btn-request-card' do
            %i.icon-credit-card
              Request a Permanent Card from #{@venue.name}
    .hologram-container
      .hologram
    .anti-screenshot-device
      .barber-pole
        .inner-barber-pole
- if @temporary_card.expired?
  .expired-notice EXPIRED

= content_for :javascripts do
  = javascript_include_tag 'temporary_card'
