= simple_form_for @cardholder, url: kiosk_card_requests_path do |f|
  .row
    %div.span8.offset2
      .teaser-image{style: "background-image: url(#{@venue.kiosk_background.url})"}
      %h2.center-text
        Take advantage of our new digital ID cards stored right on your phone!

    .form-block.span6.offset3
      = f.label :phone_number, 'Enter your phone number', class: 'center-text'
      = f.input :phone_number, input_html: { class: 'span6'}, label: false

  .form-actions.center-text
    = button_tag type: :submit, class: 'btn btn-large btn-inverse btn-request-card' do
      %i.icon-credit-card
      Request a Card
