= simple_form_for card, url: venue_card_edit_benefits_path(card) do |f|
  .row
    .form-block.offset3.span6
      = f.simple_fields_for :benefits do |bf|
        = render 'benefit_fields', f: bf
      .links
        = link_to_add_association 'Add Benefit', f, :benefits, render_options: { wrapper: 'bootstrap' }
  .form-actions
    = f.button :submit, 'Issue Benefits', class: 'btn-large btn-primary'
    = link_to 'Cancel', venue_cardholders_path, class: 'btn btn-large pull-right'
