.nested-fields
  = f.input :start_date_field, required: false, as: :string, input_html: { type: :date }, label: 'Start date'
  = f.input :start_time_field, required: false, as: :string, input_html: { type: :time }, label: 'Start time'
  = f.input :end_date_field, required: false, as: :string, input_html: { type: :date }, label: 'End date'
  = f.input :end_time_field, required: false, as: :string, input_html: { type: :time }, label: 'End time'
  = link_to_remove_association 'Remove Guest Pass', f
