%ul.media-list
  - promotions.each do |promotion|
    %li.media{ class: promotion.inactive? ? 'muted inactive' : 'active' }
      = link_to venue_promotion_path(promotion), class: 'pull-left' do
        = image_tag promotion.image.list_thumbnail.url, class: 'media-object'
      .media-body
        %h4.media-heading= promotion.title
        - if promotion.start_date
          .start-date
            Start Date/Time:
            %strong.datetime=  l promotion.start_date, format: :long
        -if promotion.end_date
          .end-date
            End Date/Time
            %strong.datetime= l promotion.end_date, format: :long
        = link_to "Send Promotion", '#', class: 'btn'

