%ul.media-list
  - promotions.each do |promotion|
    %li.media{ class: promotion.inactive? ? 'muted inactive' : 'active' }
      = link_to venue_promotion_path(promotion), class: 'pull-left' do
        = image_tag promotion.image.list_thumbnail.url, class: 'media-object'
      .media-body
        .pull-left
          %h3.media-heading
            =link_to promotion.title, venue_promotion_path(promotion)
          - if promotion.start_date
            .start-date
              Start Date/Time:
              %strong.datetime=  l promotion.start_date.in_time_zone(@venue.time_zone), format: :friendly
          -if promotion.end_date
            .end-date
              End Date/Time
              %strong.datetime= l promotion.end_date.in_time_zone(@venue.time_zone), format: :friendly
          .public-link
            Public URL:
            = link_to public_promotion_url(venue_slug: @venue.vanity_slug, id: promotion.id), public_promotion_url(venue_slug: @venue.vanity_slug, id: promotion.id)
        = link_to venue_promotion_promote_path(promotion), class: 'btn btn-large pull-right' do
          %i.icon-share-alt
          Send Promotion

