%h1.page-header Promote

= simple_form_for @promo_message, url: venue_promotion_promote_path(@promotion) do |f|
  .row
    .form-block.span6.offset3
      %p
        Copy and paste this link to share via social media
        %br/
        %span.promo-link= $short_url_cache.shorten(public_promotion_url subdomain: @venue.vanity_slug, id: @promotion.id)
      %p
        OR
        %br/
        send to specific Card Level below
      = f.input 'card_levels', collection: @venue.card_levels, as: :check_boxes, required: false, checked: @promo_message.card_levels
      = f.label :message, required: true do
        Message
        %span.character-count
      = f.input :message, as: :text, label: false, input_html: { maxlength: 140, class: 'span6' }, value: $short_url_cache.shorten(public_promotion_url subdomain: @venue.vanity_slug, id: @promotion.id)
  .form-actions
    .row-fluid
      .span6
        = f.submit 'Send Now', class: 'btn btn-large btn-warning'
      .span6
        - Time.use_zone @venue.time_zone do
          = f.input :send_date_time, as: :datetime, order: [:day, :month, :year], start_year: Time.current.year, end_year: (Time.current.year + 1), with_css_classes: true, selected: @promo_message.send_date_time, label: false, wrapper_html: { class: 'pull-left' }
        = f.submit 'Schedule', class: 'btn btn-large btn-success pull-right'

= content_for :javascripts do
  = javascript_include_tag :promotions
