%h1.page-header Promote

- if @cardholders && @cardholders.empty?
  %p.no-cardholders-warning
    No Cardholders were found in the Card #{(@card_levels.count. == 1) ? 'Level' : 'Levels'} you selected.
= simple_form_for @promo_message, url: venue_promotion_promote_path(@promotion) do |f|
  = f.label :message, required: true do
    Message
    %span.character-count
  = f.input :message, as: :text, label: false, input_html: { maxlength: 140 }, hint: "Don't forget to include the link to the promotion: #{$short_url_cache.shorten(public_promotion_url venue_slug: @venue.vanity_slug, id: @promotion.id)}"
  = f.input 'card_levels', collection: @venue.card_levels, as: :check_boxes, required: false, checked: @promo_message.card_levels
  = f.submit 'Send Now', class: 'btn btn-large btn-primary'

= content_for :javascripts do
  = javascript_include_tag :promotions
