%h1= @promotion.title
.duration.muted
  - if @promotion.start_date
    From
    %strong= l @promotion.start_date.in_time_zone(@venue.time_zone), format: :friendly
  - if @promotion.end_date
    Until
    %strong= l @promotion.end_date.in_time_zone(@venue.time_zone), format: :friendly
= image_tag @promotion.image.display.url if @promotion.image
%p.description= @promotion.description
%p
  Public link:
  = link_to public_promotion_url(venue_slug: @venue.vanity_slug, id: @promotion.id), public_promotion_url(venue_slug: @venue.vanity_slug, id: @promotion.id)
  %br
  Short link:
  - short_url = Bitly.client.shorten(public_promotion_url(venue_slug: @venue.vanity_slug, id: @promotion.id))
  = link_to short_url, short_url
= link_to "Edit", edit_venue_promotion_path(@promotion), class: 'btn btn-primary btn-large' if can? :update, @promotion
= link_to "Delete", venue_promotion_path(@promotion), class: 'btn btn-danger btn-large', method: 'delete', confirm: 'Do you really want to remove this promotion permanently?', remote: true if can? :destroy, @promotion
= link_to "Cancel", venue_path, class: 'btn btn-large'
