%a.btn.btn-navbar{ 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
=link_to ENV['site_name'], root_url, class: 'brand'
.nav-collapse.collapse
  %ul.nav
    - if current_user
      = nav_link venue_path do
        %i.icon-dashboard
        Dashboard
      = nav_link venue_card_levels_path do
        %i.icon-tasks
        Card Levels
      = nav_link venue_cardholders_path do
        %i.icon-credit-card
        Cardholders
      = nav_link venue_users_path do
        %i.icon-group
        Managers
  %ul.nav.pull-right
    - if current_user
      = nav_link 'Logout', logout_path
