- if current_user
  %a.btn.btn-navbar{ 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse' }
    %i.icon-
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
=link_to ENV['site_name'], root_url, class: 'brand' if !@cardholder
- if action_name == 'complete_onboard'
  .header-card
.nav-collapse.collapse
  %ul.nav
    - if current_user && current_user.venue_id
      - if can? :read, Venue
        = nav_link venue_path do
          %i.icon-dashboard
          Dashboard
      - if can?(:read, CardLevel) || can?(:read, Card)
        %li.dropdown
          %a{ href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
            %i.icon-credit-card
            Cards
            %span.caret
          %ul.dropdown-menu
            - if can? :read, CardLevel
              = nav_link venue_card_levels_path do
                %i.icon-tasks
                Card Levels
            - if can? :read, Card
              = nav_link venue_cardholders_path do
                %i.icon-user
                Cardholders
            - if can? :read, CardTheme
              = nav_link venue_card_themes_path do
                %i.icon-picture
                Themes
      - if can? :read, Benefit
        = nav_link venue_benefits_path do
          %i.icon-star
          Benefits
      - if ( can?(:read, Partner) || can?(:read, TemporaryCard)) && ! current_user.is_partner_account?
        %li.dropdown
          %a{ href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
            %i.icon-retweet
            EIP-X
            %span.caret
          %ul.dropdown-menu
            - if can? :read, Partner
              = nav_link venue_partners_path do
                %i.icon-sitemap
                Partners
            - if can? :read, TemporaryCard
              = nav_link venue_temporary_cards_path do
                %i.icon-money
                Temporary Cards
      - if can? :read, User
        = nav_link venue_users_path do
          %i.icon-group
          Access
      - if @venue.present? && ! current_user.is_partner_account?
        %li.dropdown
          %a{ href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
            %i.icon-desktop
            Kiosk
            %span.caret
          %ul.dropdown-menu
            = nav_link new_kiosk_card_requests_url(subdomain: @venue.vanity_slug) do
              %i.icon-credit-card
              Request Card
            = nav_link edit_kiosk_venue_path do
              %i.icon-cog
              Configure Kiosk
      - if @venue.present?
        %li.dropdown
          %a{ href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
            %i.icon-wrench
            Configuration
            %span.caret
          %ul.dropdown-menu
            = nav_link edit_venue_onboarding_message_url do
              %i.icon-plane
              Edit Onboarding Message
            = nav_link edit_venue_onboarding_text_message_url do
              %i.icon-mobile-phone
              Edit Onboarding Text Message
            = nav_link edit_venue_textus_credential_url do
              %i.icon-cloud-upload
              Edit TextUs.biz Integration
  - if @venue.present? && current_user.nil?
    .nav.pull-right
      = nav_link @venue.name, (@venue.website || "#")
      = nav_link (@venue.website || "#"), class: 'venue-logo' do
        =image_tag @venue.logo.mobile_small.url
  %ul.nav.pull-right
    - if current_user
      = nav_link logout_path do
        %i.icon-off
        Logout
