%a.btn.btn-navbar{ 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
=link_to ENV['site_name'], root_url, class: 'brand'
.nav-collapse.collapse
  %ul.nav
    - if current_user && current_user.venue
      - if can? :read, Venue
        = nav_link venue_path do
          %i.icon-dashboard
          Dashboard
      - if can? :read, CardLevel
        = nav_link venue_card_levels_path do
          %i.icon-tasks
          Card Levels
      - if can? :read, Card
        = nav_link venue_cardholders_path do
          %i.icon-credit-card
          Cardholders
      - if can? :read, Benefit
        = nav_link venue_benefits_path do
          %i.icon-star
          Benefits
      - if can? :read, User.new(venue: current_user.venue)
        = nav_link venue_users_path do
          %i.icon-group
          Access
  - if @venue.present? && current_user.nil?
    .nav.pull-right
      = nav_link @venue.name, (@venue.website || "#")
      = nav_link (@venue.website || "#"), class: 'venue-logo' do
        =image_tag @venue.logo.mobile_small.url
  %ul.nav.pull-right
    - if current_user
      = nav_link logout_path do
        %i.icon-off
        Logout
